<%- include('partials/header') -%>
<%- include('partials/nav') -%>

<div class="accordion accordion-flush" id="accordionFlushExample">

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="btn text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#April" aria-expanded="false" aria-controls="flush-collapseOne">
        Best of April
      </button>
    </h2>
    <div id="April" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/April/abstract.jpg">
              <h5 class="card-body">
                Best Abstract Photography
              </h5>
              <div class="card-footer">
                <p>by Anthea</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/April/black and white.jpg">
              <h5 class="card-body">
                Best Black and White 
              </h5>
              <div class="card-footer">
                <p>by Natalia</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/April/cat.jpg">
              <h5 class="card-body">
                Best Cat
              </h5>
              <div class="card-footer">
                <p>by Martin</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/April/color.jpg">
              <h5 class="card-body">
                Best use of Color
              </h5>
              <div class="card-footer">
                <p>by Mila</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/April/composition.jpg">
              <h5 class="card-body">
                Best Composition
              </h5>
              <div class="card-footer">
                <p>by Martin</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/April/ligth.jpg">
              <h5 class="card-body">
                Best Use of Ligth
              </h5>
              <div class="card-footer">
                <p>by Anthea</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/April/thin sky.jpg">
              <h5 class="card-body">
                Thin Sky
              </h5>
              <div class="card-footer">
                <p>by Anthea</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/April/Tourist.jpg">
              <h5 class="card-body">
                Toursit
              </h5>
              <div class="card-footer">
                <p>by Natalia</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="btn text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Best of May
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/May/Black and White by Natalua.jpg">
              <h5 class="card-body">
                Black and White
              </h5>
              <div class="card-footer">
                <p>by Natalia</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/May/Blade Runner by Natalia.jpg">
              <h5 class="card-body">
                Blade Runner 
              </h5>
              <div class="card-footer">
                <p>by Natalia</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/May/Building and Moon by Anthea.jpg">
              <h5 class="card-body">
                Building and Moon
              </h5>
              <div class="card-footer">
                <p>by Anthea</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/May/Color Slap by Natalia.jpg">
              <h5 class="card-body">
                Color Slap
              </h5>
              <div class="card-footer">
                <p>by Natalia</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/May/Crickets by Mila.jpg">
              <h5 class="card-body">
                Crickets
              </h5>
              <div class="card-footer">
                <p>by Mila</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/May/Mila by Anthea.jpg">
              <h5 class="card-body">
                Mila
              </h5>
              <div class="card-footer">
                <p>by Anthea</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/May/Reflection by Mila.jpg">
              <h5 class="card-body">
                Reflection
              </h5>
              <div class="card-footer">
                <p>by Mila</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="img-fluid" src="../imgs/May/Viking by Mila.jpg">
              <h5 class="card-body">
                Viking
              </h5>
              <div class="card-footer">
                <p>by Mila</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="btn text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Best of June
      </button>
    </h2>

    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="img-fluid" src="../imgs/june/best abstract.jpg">
            <h5 class="card-body">
              Best Abstract
            </h5>
            <div class="card-footer">
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="img-fluid" src="../imgs/june/best composition.jpg">
            <h5 class="card-body">
              Best Composition
            </h5>
            <div class="card-footer">
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="img-fluid" src="../imgs/june/best landscape.jpg">
            <h5 class="card-body">
              Best Landscape
            </h5>
            <div class="card-footer">
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="img-fluid" src="../imgs/june/best Movement.jpg">
            <h5 class="card-body">
              Best Photo of Movement
            </h5>
            <div class="card-footer">
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="img-fluid" src="../imgs/june/best negative space.jpg">
            <h5 class="card-body">
              Best Photo of Negative Space
            </h5>
            <div class="card-footer">
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="img-fluid" src="../imgs/june/best use of color.jpg">
            <h5 class="card-body">
              Best Use of Color
            </h5>
            <div class="card-footer">
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="img-fluid" src="../imgs/june/best use of light.jpg">
            <h5 class="card-body">
              Best Use Ligth
            </h5>
            <div class="card-footer">
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="img-fluid" src="../imgs/june/best portrait 1.jpg">
            <h5 class="card-body">
              Best Portrait
            </h5>
            <div class="card-footer">
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="img-fluid" src="../imgs/june/best portrait 2.jpg">
            <h5 class="card-body">
              Best Portrait 2
            </h5>
            <div class="card-footer">
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="img-fluid" src="../imgs/june/best portrait 3.jpg">
            <h5 class="card-body">
              Best Portrait 3
            </h5>
            <div class="card-footer">
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="img-fluid" src="../imgs/june/best portrait 5.jpg">
            <h5 class="card-body">
              Best Portrait 5
            </h5>
            <div class="card-footer">
              <p></p>
            </div>
          </div>
        </div>
  </div>
      







    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="btn text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Best of July
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        

<!---------------HERE GOES THE BEST PICTUES OF JULY-->



      </div>
    </div>
  </div>
</div>


<h2>Best of August</h2>
<div class="container mt-4">
    <div class="row">
      <% for (const category in highestPostsByMonth['August']) { %>
        <% const post = highestPostsByMonth['August'][category]; %>
        <% if (post) { %>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card h-100">
              <a href="/post/<%= post._id %>">
                <img class="img-fluid" src="<%= post.image %>">
              </a>
              <h5 class="card-body">
                Best <%= category %>
              </h5>
              
              
              <div class="card-footer">
                <p class="card-text">
                   
                    <p>Photo by <%= post.author %></p>
                </p>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
  </div>


  
    <h2>Best of September</h2>
  <div class="container mt-4">
      <div class="row">
        <% for (const category in highestPostsByMonth['September']) { %>
          <% const post = highestPostsByMonth['September'][category]; %>
          <% if (post) { %>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
              <div class="card h-100">
                <a href="/post/<%= post._id %>">
                  <img class="img-fluid" src="<%= post.image %>">
                </a>
                <h5 class="card-body">
                  <%= post.title %>
                </h5>
                <div class="card-footer">
                  <p class="card-text">
                      Best <%= category %>
                  </p>
                </div>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>

    <h2>Best of October</h2>
  <div class="container mt-4">
      <div class="row">
        <% for (const category in highestPostsByMonth['October']) { %>
          <% const post = highestPostsByMonth['October'][category]; %>
          <% if (post) { %>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
              <div class="card h-100">
                <a href="/post/<%= post._id %>">
                  <img class="img-fluid" src="<%= post.image %>">
                </a>
                <h5 class="card-body">
                  <%= post.title %>
                </h5>
                <div class="card-footer">
                  <p class="card-text">
                      Best <%= category %>
                  </p>
                </div>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>

    <h2>Best of November</h2>
  <div class="container mt-4">
      <div class="row">
        <% for (const category in highestPostsByMonth['November']) { %>
          <% const post = highestPostsByMonth['November'][category]; %>
          <% if (post) { %>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
              <div class="card h-100">
                <a href="/post/<%= post._id %>">
                  <img class="img-fluid" src="<%= post.image %>">
                </a>
                <h5 class="card-body">
                  <%= post.title %>
                </h5>
                <div class="card-footer">
                  <p class="card-text">
                      Best <%= category %>
                  </p>
                </div>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>

    <h2>Best of December</h2>
  <div class="container mt-4">
      <div class="row">
        <% for (const category in highestPostsByMonth['December']) { %>
          <% const post = highestPostsByMonth['December'][category]; %>
          <% if (post) { %>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
              <div class="card h-100">
                <a href="/post/<%= post._id %>">
                  <img class="img-fluid" src="<%= post.image %>">
                </a>
                <h5 class="card-body">
                  <%= post.title %>
                </h5>
                <div class="card-footer">
                  <p class="card-text">
                      Best <%= category %>
                  </p>
                </div>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
</div>


<%- include('partials/footer') -%>